@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto+Flex:opsz,wght@8..144,300;8..144,500;8..144,600;8..144,700&display=swap');
html, body, #root {
  height: 100%;
  background: #F6F6F6;
}
* {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.main {
  padding: 70px 20px 90px 20px;
}

.main h1 {
  color: #020655;
}